@import "../../_variables.scss";

.projects-container {
  @media (max-width: 768px) {
    padding-top: 84px;
  }
  padding-top: 92px;
  width: 100%;
  max-width: 1100px;

  .projects {
    width: calc(100% - 48px);
    margin: 0 24px 0 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin-bottom: 24px;
      padding: 8px 24px 8px 24px;

      font-size: 32px;
      font-weight: 600;
      color: $primary-color;
    }

    .filters {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      .filter {
        background-color: #252525;

        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        padding: 4px 8px;
        margin: 0 4px;

        color: $primary-color;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;

        // &:hover {
        //   background-color: #333;
        // }
      
        .selected {
          background-color: red;
        }

        .icon {
          margin-right: 6px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}