.projects-container {
  @media (max-width: 768px) {
    padding-top: 84px;
  }
  padding-top: 92px;

  .projects {
    width: calc(100% - 48px);
    margin: 0 24px 0 24px;

    .project-description {
      white-space: pre-wrap;
    }

    .project-card {
      margin-bottom: 24px;

      width: 100%;

      display: flex;
      flex-direction: column;


      .project-image {
        width: 100%;
      }
    }
  }
}